table{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

.tipo{
  background-color: rgb(201, 241, 253);
  text-align: center;
  width: 180px;
  height: 60px;
}
th{
  background-color: aliceblue;
  text-align: center;
  font-size: 25px;
  height: 40px;
  width: 100px;
}

td{
  text-align: right;
  width: 200px;
  height: 50px;
}

/*todos los elementos a partir del 1*/
tr:nth-child(n + 1) {
  text-align: right;
}

tr:nth-child(2n) {
  background-color: #FFFFCC;
}

tr:hover {
  background: #FFFF66;
}

.e{
  color:orangered
}

.d{
  color:green
}

.l{
  color:blue
}

.y{
  color:green
}